{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Import / Export Csv</h3>
        </div>

        <div class="jumbotron">
            <table class="table table-sm table-striped">
                <thead>
                <tr class="table-success">
                    {% for key in adherents[1]|keys %}
                        <th scope="col">{{ key }}</th>
                    {% endfor %}
                </tr>

                </thead>
                <tbody>
                {% for adherent in adherents %}
                    <tr>
                        {% for key,value in adherent %}
                            <td>{{ value }}</td>
                        {%  endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Import New File</a></p>

            <div class="row" style="">
                <div class="col-sm-4"><h1 style="">Heading</h1>
                    <h3>col-sm-4</h3></div>
                <div class="col-sm-4 col-5"><h3>col-sm-4</h3></div>
                <div class="col-sm-4"><h3>col-sm-4</h3></div>
            </div>
        </div>
        <footer class="footer">
            <p>©Alexandre Joulie 2018</p>
        </footer>
    </div>
{% endblock %}